div{
    width: 200px;
    height: 200px;
    background-color: #e5989b;
    display: inline;
}
h1{
    background-color: pink;
    width: 100px;
    margin: 10px 10px 20px 10px;
}
#one{
    background-color: #e5989b;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
}
#two{
    background-color: #b5838d;
    border-color: #ffcdb2;
    border-width: 3px;
    border-style: dashed;
    border-left-color: black ;
    border-left-width: 5px;
}
#three{
    background-color: #6d6975 ;
    border: 4px dotted black;
}
button{
    padding: 20px 10px 20px 10px;
}