main{
    width: 80%;
    margin: 0 auto;
    border:5px solid black;
    height: 500px;
    display:flex;
}

main .sidebar{
    background-color: #6930c3;
    flex: 1 2 300px;
}
main .maincontent{
    flex: 2 1 800px;
    background-color: #08ffdb;
}